.logo {
  width: 145px;
  margin-top: 14px;
}

.page-header {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.main-nav{
  /* position: fixed; */
  display: flex;
  margin: 4px;
  padding: 16px;
}

.wrapper {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 0 -8%;
  height: 62px;
  background: #38241B;
}

.main-nav a {
  margin-left: 32px;
}

.main-nav a {

  width: 140px;
  height: 26px;

  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */

  /* White */
  color: #FFFFFF;
}

/* ul li:nth-child(3){
  width: 138px;
} */


.sign-up {
  width: 80px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  background: var(--red-color);
  padding: 0.65rem 2.15rem;
  border-radius: 4rem;

  /* padding: 5.63px 25px; */
}
