<footer class="page-footer wrapper">
    <div class="sponsorCorp">贊助單位</div>
    <nav>
      <ul class="main-nav">
        <li>
          <img src="/assets/images/block-studio.png" alt="block-studio.png">
        </li>
        <li>
          <img src="/assets/images/kdan-mobile.png" alt="kdan-mobile.png" >
        </li>
        <li>
          <img src="/assets/images/titan-soft.png" alt="titan-soft.png">
        </li>
      </ul>
    </nav>

    <div class="footerText">
      六角日報 © Code: Crown Chung  /  Design: KT
    </div>

</footer>
