.home-content{
  /* width: 1280px; */
  /* height: 768px; */
  background-image: url('/assets/images/background.jpg');

  /* background-repeat:repeat-x; */
}

.wrapper {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0 4%;
}

.hexSchoolArea {
  margin-top: 14%;
}

.btnStyle {
  width: 109px;
  height: 46px;
  left: 419px;
  top: 177px;

  background: #951205;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}

.labelStyle {
  width: 51px;
  height: 40px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color:#FFF;
}

.home {
  height: 100%;
  background: url("../assets/images/newspaperVendetta.png") no-repeat center;
  background-size: 100% 100%;
  padding: 10.1rem 4rem 2.2rem;
  position: relative;
}

.cover-top {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.cover-right {
  position: absolute;
  z-index: 10;
  width: 95.15vw;
  height: 140vh;
  left: 36.09%;
  top: 39.86%;
}

.cover-left {
  position: absolute;
  z-index: 30;
  width: 73.59vw;
  height: 146vh;
  left: -19.37%;
  top: 36.25%;
}

.cover-mouse {
  width: 3rem;
  height: 4.4rem;
  border: 2px solid black;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.cover {
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 200;
}


.labelPrize {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  text-align: center;

  color: #3C221B;

}

.parallaxScrollingArea {
  margin-top: 2%;
}

.absoluteArea {
  position: absolute;
  z-index: 24;
  /* top: 4%; */
  left: 16%;
}

.pdfArea {
  position: relative;
  left:32%;
  top:-12%;
  z-index: 99;

}

.imgVendetta {
  position: absolute;
  z-index: 99;
  /* top: 4%; */
  left: 40%;
  top: 8%;
}

.bountyArea {
  position: absolute;
  z-index: 99;
  /* top: 4%; */
  left: 64%;
  top: 4%;
}

.floatArea{
  position: relative;
  z-index: 98;

}

.raceArea{
  display: flex;
  flex-direction: column;
}

.sponsorCorp {

  /* width: 100vw; */
  background-color: #FFF;
  /* height: 96px; */
}

.pText {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;

  color: #3C221B;
}

.main-nav {
  display: flex;
  /* flex-direction:unset; */
  /* margin: 0 auto; */
  justify-content: space-between;
}

.main-nav li {
  margin-left: 24px;
}

.prize-nav {
  /* display: grid;
  gap:26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px; */
  display: flex;
  /* flex-direction:unset; */
  /* margin: 0 auto; */
  justify-content: center;
}

.prize-nav {
  margin-left: 24px;
}

.text-center {
  text-align: center;
}


.prize-nav {
  display: flex;
}


.finishPrize {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  text-align: center;

  color: #3C221B;
  margin-top: 6%;
  margin-bottom: 16%;
}

.goodThing {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 103px;
  text-align: center;

  color: #3C221B;
}

.plzClick {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 103px;
  text-align: center;

  color: #951205;
}


.describe {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  /* identical to box height */

  text-align: center;

  color: #3C221B;
}

.money {
  width: 232.41px;
  height: 61.67px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 61.67px;
  color: var(--white-color);
  background-color: var(--red-color);
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;

  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

.content .pic-face .text .money {
  font-family: "AR JULIAN";
  font-style: normal;
  font-weight: 5;
  font-size: 5.6rem;
  line-height: 6.289rem;
  color: var(--red-color);
}

/************live-open sytle start******************/

.live-open {
  min-height: 100vh;
  position: relative;
}

.beans.four {
  top: 10%;
  left: 10%;
}

.live-open p {
  width: 504px;
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 900;
  font-size: 7.2rem;
  line-height: 10.3rem;
  text-align: center;
  color: var(--borwn-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.live-open span {
  color: var(--red-color);
}

.live-open .animation-container {
  position: absolute;
  top: 50%;
  right: 30%;
}

/* #live {
  display: flex
} */

/************live-open sytle end******************/

/************live sytle start******************/

#live .person {
  padding: 3.1rem 10.8rem 6.3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  justify-content: center;
  /* max-width: 1280px; */
  /* max-width: 100vw; */
}

#live .person .item {
  padding: 20.6px 6rem 27.26px;
  height: 57.65vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.2rem;
  text-align: center;
  /* max-width: 522px; */
  max-width: 416px;
  height: 738.5px;
  /* flex-basis: 48%; */
}

#live .person .item .time {
  padding-bottom: 0;
}

#live .person .item:nth-child(1) {
  padding-top: 47.68px;
  background-image: url("../assets/images/livePerson2.gif");
  background-size: 100% 100%;
}

#live .person .item:nth-child(2) {
  background-image: url("../assets/images/livePerson4.gif");
  background-size: 100% 100%;
}

#live .person .item:nth-child(3) {
  background-image: url("../assets/images/livePerson3.gif");
  background-size: 100% 100%;
}

#live .person .item:nth-child(4) {
  background-image: url("../assets/images/livePerson1.gif");
  background-size: 100% 100%;
}

#live .person .item .describe {
  font-family: "Noto Serif TC";
  font-style: normal;
  color: var(--borwn-color);
  line-height: 6.2rem;
  font-weight: 900;
}

#live .person .item:nth-child(1) .describe {
  font-size: 5.7rem;
}

#live .person .item:nth-child(2) .describe {
  font-size: 4.9rem;
}

#live .person .item:nth-child(3) .describe {
  font-size: 4.6rem;
}

#live .person .item:nth-child(4) .describe {
  font-size: 4.4rem;
}

#live .item .time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 6.7rem;
  color: var(--borwn-color);
}

#live .item .name {
  background-image: url("../assets/images/person-name-bg.png");
  background-size: 100% 100%;
  padding: 0.7rem 2rem 0.7rem 2rem;
  width: 259px;
  height: 66px;
  position: absolute;
  left: 50%;
  bottom: 12.12%;
  transform: translateX(-50%);
}

#live .item .name p {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.6rem;
  /* or 130% */
  color: var(--white-color);
  text-align: center;
}
/************live sytle end******************/
